html,
body, * {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;

}
::-webkit-scrollbar {
  width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container{


}
.layout{

}


.marquee-text{

}
.marquee {

}

.track {

}
.track:hover {

}


 span.text-red {
    -webkit-text-stroke: 1px #f02d34;
    margin-left: 6px;
}
.logo{


}
.cart-icon{

}
.cart-icon:hover{
  
}
.cart-item-qty{


}

.hero-banner-container{

}
.hero-banner-container .beats-solo{

}
.hero-banner-container button{

}

.hero-banner-container h3{

}
.hero-banner-container h1{

}
.hero-banner-image{

}


.desc{


}
.desc p{

}
.desc h5{

}
.products-heading{


}
.products-heading h2{

}
.products-heading p{

}

.small-images-container{

}
.small-image{

}

.selected-image{

}
.reviews{

}

.product-detail-desc h4{

}
.product-detail-desc p{

}
.reviews p{

}
.product-detail-desc .price{

}
.price .old-price, .product-price .old-price, .price .old-price{
  color: gray;
  text-decoration: line-through;
}
.product-detail-desc .quantity{

}
.product-detail-desc .buttons{

}
.buttons .add-to-cart{

}
.buttons .add-to-cart:hover{
  
}
.buttons .buy-now{

}
.buttons .buy-now:hover{
  
}
.quantity-desc{

}
.quantity-desc span{

}
.quantity-desc .minus{

}
.quantity-desc .num{

}
.quantity-desc .plus{


}

.maylike-products-wrapper{

}
.maylike-products-wrapper h2{

}
.maylike-products-container{

}
.max-qty{
  font-weight: 500;
  color: #f02d34;
}
.success-wrapper, .cancel-wrapper{


}
.success, .cancel{

}

.success .icon {

}
.success h2{

}
.success .email-msg{

}
.cancel p{
  font-size: 20px;
  font-weight: 600;
}
.success .description{

}
.success .description .email{

}
.product-max-qty{
  margin-top: 10px;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:800px) {
  .hero-banner-container{
    height: 560px;
  }
  .hero-banner-image{
    width: 77%;
    height: 62%;
    top: -2%;
    right: -6%;
  }
  .footer-banner-container{
    height: 560px;
    margin-top: 80px;
  }
  .footer-banner-image{
    width: 77%;
    left: 30%;
    top: 6%;
    height: 56%
  }
  .banner-desc .left h3{
    font-weight: 900;
    font-size: 50px;
    margin-left: 5px;
  }
  .banner-desc .left p{
    margin:18px;
  }
  .banner-desc .right h3{
    font-size: 45px;
  }
  .banner-desc .right p{
    font-size: 18px;
  }
  .banner-desc .right .company-desc{
    font-size: 14px;
  }
  .banner-desc{
    flex-wrap: wrap;
    gap: 20px;
  }
  .hero-banner-container{
    line-height: 1.3;
  }
  .hero-banner-container h1{
    font-size: 50px;
  }
 .hero-banner-container h3{
    font-size: 40px;
  }
  .hero-banner-container button{
    margin-top: 90px;
    z-index: 10000;
  }
  .desc{
   bottom: 60px;
  }
  .product-detail-container{
    flex-wrap: wrap;
    }
  .product-detail-container .product-detail-image{
    width: 350px;
    height: 350px;
  }
  .cart-container{
    width: 415px;
  padding: 4px;
  }
  .cart-heading{
    margin-top: 35px;
  }
  .product-container{
    margin-top: 10px;
  }
  .product{
    padding: 20px 5px;

  }
  .product .cart-product-image{
    width: 25%;
    height: 25%;
  }
  .buttons .add-to-cart{
    width: 150px;
  }
  .buttons .buy-now{
    width: 150px;
  }
  .product-detail-container{
    margin: 20px;
  }

.item-desc .flex{
  width: 200px;
}
.top{
  flex-wrap: wrap;
  gap: 10px;


}
.item-desc .bottom{
  margin-top: 30px;
}
.flex h5{
  font-size: 16px;
   color: #324d67;
}
.flex h4{
  font-size: 16px;
   color: black;
}
.cart-bottom{
  padding: 30px;
}

.total h3{
  font-size: 20px;
}
.track {
  animation: marquee 10s linear infinite;
  width: 550%;
}
.success-wrapper, .cancel-wrapper{
 
  min-height: 69vh;
}
.success, .cancel {
   width: 370px;
  margin-top: 100px;
  padding: 20px;
}
.success{
  height: 350px;
}
.success h2{
  font-size: 17px;
}
.btn-container{
  width: 300px;
  margin: auto;
}
}